version: 2.1

parameters:
  helm_version:
    type: string
    default: "v3.11.2"
  terraform_version:
    type: string
    default: "1.9.3"
  hcledit_version:
    type: string
    default: "0.2.9"
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""

orbs:
  terraform: circleci/terraform@3.2.0
  aws-cli: circleci/aws-cli@3.1
  envsubst: sawadashota/envsubst@1.1.0

commands:
  install_tf:
    description: "Install Terraform"
    parameters:
      terraform_version:
        type: string
    steps:
      - terraform/install:
          terraform_version: << parameters.terraform_version >>
  install_hcledit:
    description: "Install HCL edit"
    parameters:
      hcledit_version:
        type: string
        default: "0.2.9"
    steps:
      - run:
          name: Install HCL edit
          working_directory: tests/deploy
          environment:
            HCLEDIT_VERSION: << parameters.hcledit_version >>
          command: bash ci-deploy.sh install_hcledit
  set_mod_source_current:
    description: "Set up module source to current branch."
    steps:
      - run:
          name: Set module source to current branch
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_mod_src_circle_branch
  set_infra_imports:
    description: "Set up root infra module imports."
    steps:
      - run:
          name: Set root infra module imports
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_infra_imports
  pre_upgrade_updates:
    description: "Updates necessary for upgrade."
    steps:
      - run:
          name: Manual updates
          working_directory: tests/deploy
          command: bash ci-deploy.sh pre_upgrade_updates
  set_cluster_imports:
    description: "Set up root cluster module imports."
    steps:
      - run:
          name: Set root cluster module imports
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_cluster_imports
  set_nodes_imports:
    description: "Set up root nodes module imports."
    steps:
      - run:
          name: Set root nodes module imports
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_nodes_imports
  set_mod_source_latest_rel:
    description: "Set up module source to current branch"
    steps:
      - run:
          name: Set module source to latest published release
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_mod_src_latest_rel
  set_aws_creds:
    description: "Sets short-lived creds"
    steps:
      - aws-cli/setup:
          role-arn: "${AWS_IAM_ROLE}"
          session-duration: "900"
  set_tf_vars:
    description: "Sets Terraform variables"
    steps:
      - envsubst/install
      - install_hcledit
      - set_aws_creds
      - run:
          name: Bootstrap terraform vars
          working_directory: tests/deploy
          command: bash ci-deploy.sh set_tf_vars
  set_tf_mods:
    description: "Bootstrap modules using the CI branch"
    steps:
      - run:
          name: Bootstrap terraform module using the CI branch
          working_directory: tests/deploy
          command: bash ci-deploy.sh setup_modules_ci_branch
  set_tf_mods_latest_rel:
    description: "Bootstrap modules using latest release"
    steps:
      - run:
          name: Bootstrap terraform module using latest release
          working_directory: tests/deploy
          command: bash ci-deploy.sh setup_modules_latest_rel

  install_helm:
    description: "Install Helm"
    parameters:
      helm_version:
        type: string
    steps:
      - run:
          name: Install Helm
          working_directory: tests/deploy
          environment:
            HELM_VERSION: << parameters.helm_version >>
          command: bash ci-deploy.sh install_helm
  tf_init_apply:
    description: "Terraform Init, Validate, Apply"
    steps:
      - run:
          name: Terraform init/validate/apply
          working_directory: tests/deploy
          command: bash ci-deploy.sh deploy
  tf_deploy_infra:
    description: "Terraform deploy Infra"
    steps:
      - run:
          name: Terraform deploy Infra
          working_directory: tests/deploy
          command: bash ci-deploy.sh deploy_infra
  tf_deploy_cluster:
    description: "Terraform deploy Cluster"
    steps:
      - run:
          name: Terraform deploy Cluster
          working_directory: tests/deploy
          command: bash ci-deploy.sh deploy_cluster
  tf_deploy_nodes:
    description: "Terraform deploy Nodes"
    steps:
      - run:
          name: Terraform deploy Nodes
          working_directory: tests/deploy
          command: bash ci-deploy.sh deploy_nodes
  tf_deploy_single_node:
    description: "Terraform deploy single-node"
    steps:
      - run:
          name: Setup single-node module
          working_directory: tests/deploy
          command: bash ci-deploy.sh setup_single_node_tf
      - run:
          name: Deploy single-node
          working_directory: tests/deploy
          command: bash ci-deploy.sh deploy_single_node
  tf_destroy_single_node:
    description: "Terraform destroy single-node"
    steps:
      - run:
          name: Destroy single-node
          working_directory: tests/deploy
          command: bash ci-deploy.sh destroy_single_node
  tf_deploy:
    description: "Terraform deploy"
    steps:
      - aws-cli/setup:
          role-arn: "${AWS_IAM_ROLE}"
          session-duration: "43200"
      - tf_deploy_infra
      - tf_deploy_cluster
      - tf_deploy_nodes
  tf_destroy:
    description: "Terraform destroy"
    steps:
      - run:
          name: Terraform destroy
          working_directory: tests/deploy
          command: bash ci-deploy.sh destroy
          when: always
  tf_plan_test:
    steps:
      - set_aws_creds
      - run:
          name: Terraform plan test
          working_directory: tests/plan
          command: bash tf-plan-test.sh
jobs:
  tf-plan-test:
    docker:
      - image: cimg/aws:2023.04.1
    parameters:
      terraform_version:
        type: string
    steps:
      - checkout
      - install_tf:
          terraform_version: << parameters.terraform_version >>
      - tf_plan_test
  test-deploy:
    docker:
      - image: cimg/aws:2023.04.1
    parameters:
      terraform_version:
        type: string
      helm_version:
        type: string
    steps:
      - checkout
      - install_tf:
          terraform_version: << parameters.terraform_version >>
      - install_helm:
          helm_version: << parameters.helm_version >>
      - set_tf_mods
      - set_tf_vars
      - set_mod_source_current
      - tf_deploy
      - tf_deploy_single_node
      - tf_destroy_single_node
      - tf_destroy
  test-upgrade:
    docker:
      - image: cimg/aws:2023.04.1
    parameters:
      terraform_version:
        type: string
      helm_version:
        type: string
      hcledit_version:
        type: string
    steps:
      - checkout
      - install_tf:
          terraform_version: << parameters.terraform_version >>
      - install_helm:
          helm_version: << parameters.helm_version >>
      - set_tf_mods_latest_rel
      - set_tf_vars
      - set_mod_source_latest_rel
      - tf_deploy
      - set_mod_source_current
      - set_tf_vars
      - pre_upgrade_updates
      - set_infra_imports
      - set_cluster_imports
      - set_nodes_imports
      - tf_deploy
      - tf_destroy

workflows:
  test-deploy-workflow:
    when:
      equal: ["test-deploy-workflow", << pipeline.parameters.GHA_Action >>]
    jobs:
      - test-deploy:
          context: aws-oidc
          terraform_version: << pipeline.parameters.terraform_version >>
          helm_version: << pipeline.parameters.helm_version >>
  test-upgrade-workflow:
    when:
      equal: ["test-upgrade-workflow", << pipeline.parameters.GHA_Action >>]
    jobs:
      - test-upgrade:
          context: aws-oidc
          terraform_version: << pipeline.parameters.terraform_version >>
          helm_version: << pipeline.parameters.helm_version >>
          hcledit_version: << pipeline.parameters.hcledit_version >>
  examples-plan-test-workflow:
    when:
      equal:
        ["examples-plan-test-workflow", << pipeline.parameters.GHA_Action >>]
    jobs:
      - tf-plan-test:
          context: aws-oidc
          terraform_version: << pipeline.parameters.terraform_version >>
