irsa_external_dns = {
  enabled = true
  hosted_zone_name = "deploys-delta.domino.tech"
}

external_deployments_operator = {
  enabled = true
  namespace = "domino-compute"
  service_account_name = "test-operator-account"
}

use_fips_endpoint = true

karpenter = {
  enabled = true
}
