irsa_external_dns = {
  enabled = true
  hosted_zone_name = "deploys-delta.domino.tech"
}

irsa_external_deployments_operator = {
  enabled = true
  namespace = "domino-compute"
  service_account_name = "test-operator-account"
  role_suffix               = "external-deployments-operator",
  repository_suffix         = "external-deployments",
  bucket_suffix             = "external-deployments",
  grant_assume_any_role     = "true",
  grant_in_account_policies = "true"
}

use_fips_endpoint = true

region = "us-west-2"

kms_info = {
  enabled = true
  key_id = "key"
  key_arn = "arn:${data.aws_partition.current.partition}:kms:us-west-2:123456789012:key/key"
}
