deploy_id = "circleci-${CIRCLE_BUILD_NUM}"
ssh_pvt_key_path = "${LEGACY_PVT_KEY}"
tags = {
  deploy_id             = "circleci-${CIRCLE_BUILD_NUM}"
  CIRCLE_BUILD_URL      = "${CIRCLE_BUILD_URL}"
  CIRCLE_BRANCH         = "${CIRCLE_BRANCH}"
  CIRCLE_JOB            = "${CIRCLE_JOB}"
  CIRCLE_REPOSITORY_URL = "${CIRCLE_REPOSITORY_URL}"
  CIRCLE_BUILD_NUM      = "${CIRCLE_BUILD_NUM}"
}
